{% extends "after_staff_enter__base.html" %}
{% block inner_main %}
<section>
{{ form.hidden_tag() }}
<table class="table">
<tr>
<td>
{{ form.id.label }}{{ form.id(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.spell_and_header.label }}{{ form.spell_and_header(class_="form-control", style_="resize: none;") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.mean_and_body.label }}{{ form.mean_and_body(class_="form-control", style_="resize: none;") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.concept_and_notion.label }}{{ form.concept_and_notion(class_="form-control", style_="resize: none;") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.generated_file_path.label }}
<br>
<a href="{{generated_file_path}}" target="_blank">生成ファイルを新しいタブで開く</a>
{{ form.generated_file_path(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.staff_name.label }}{{ form.staff_name(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.staff_kana_name.label }}{{ form.staff_kana_name(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.created_at.label }}{{ form.created_at(class_="form-control", type="datetime-local") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.updated_at.label }}{{ form.updated_at(class_="form-control", type="datetime-local") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.is_hidden.label }}{{ form.is_hidden(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.is_exclude.label }}{{ form.is_exclude(class_="form-control") }}
</td>
</tr>
</table>
<section>
<br>
<br>
<a class="btn btn-primary" href="{{url_for('view.show_generates')}}">生成一覧</a>
<a class="btn btn-primary" href="{{url_for('view.search_generates')}}">生成検索</a>
<a class="btn btn-primary" href="{{url_for('view.import_generates')}}">生成取込</a>
<a class="btn btn-primary" href="{{url_for('view.export_generates')}}">生成書出</a>
<br>
<br>
</section>
{% endblock %}