{% extends "before_enter__base.html" %}
{% block inner_main %}
{% if time_period == 'midnight' %}
<section>
<article>
<div class="gradient-back" align="center">
<p class="gradient-blink-text">>> A-new-day has begun ...</p>
</div>
</article>
</section>
{% elif time_period == 'morning' %}
<section>
<article>
<div class="gradient-back" align="center">
<p class="gradient-blink-text">>> Good-morning ...</p>
</div>
</article>
</section>
{% elif time_period == 'afternoon' %}
<section>
<article>
<div class="gradient-back" align="center">
<p class="gradient-blink-text">>> Hello ...</p>
</div>
</article>
</section>
{% else %}
<section>
<article>
<div class="gradient-back" align="center">
<p class="gradient-blink-text">>> Good-evening ...</p>
</div>
</article>
</section>
{% endif %}
{% endblock %}