{% extends "after_staff_enter__base.html" %}
{% block inner_main %}
<section>
<form method="post">
{{ form.hidden_tag() }}
<table class="table">
<tr>
<td>
{{ form.spell_and_header.label }}{{ form.spell_and_header(class_="form-control", style_="resize: none;") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.mean_and_body.label }}{{ form.mean_and_body(class_="form-control", style_="resize: none;") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.linked_tag.label }}{{ form.linked_tag(class_="form-control", style_="resize: none;") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.inference_condition.label }}{{ form.inference_condition(class_="form-control", style_="resize: none;") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.inference_result.label }}{{ form.inference_result(class_="form-control", style_="resize: none;") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.is_hidden.label }}{{ form.is_hidden(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.is_exclude.label }}{{ form.is_exclude(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>
{{ form.learn_decide(class_="btn btn-primary btn-block") }}
</td>
<td></td>
<td></td>
<td>
{{ form.learn_cancel(class_="btn btn-primary btn-block") }}
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</table>
</form>
</section>
{% endblock %}
{% block script %}
<script>
window.addEventListener('submit', function (event) {
  var is_focusing_stop = false;
  if (is_focusing_stop == false) {
      const spell_and_header = document.querySelectorAll('spell_and_header');
      if ((!spell_and_header.value) &&
          (event.submitter.value === '決定')) {
           event.preventDefault();
           spell_and_header.focus();
      }
  }
  if (is_focusing_stop == false) {
      const mean_and_body = document.querySelectorAll('mean_and_body');
      if ((!mean_and_body.value) &&
          (event.submitter.value === '決定')) {
           event.preventDefault();
           mean_and_body.focus();
      }
  }
  if (is_focusing_stop == false) {
      const linked_tag = document.querySelectorAll('linked_tag');
      if ((!linked_tag.value) &&
          (event.submitter.value === '決定')) {
           event.preventDefault();
           linked_tag.focus();
      }
  }
  if (is_focusing_stop == false) {
      const inference_condition = document.querySelectorAll('inference_condition');
      if ((!inference_condition.value) &&
          (event.submitter.value === '決定')) {
           event.preventDefault();
           inference_condition.focus();
      }
  }
  if (is_focusing_stop == false) {
      const inference_result = document.querySelectorAll('inference_result');
      if ((!inference_result.value) &&
          (event.submitter.value === '決定')) {
           event.preventDefault();
           inference_result.focus();
      }
  }
  if (is_focusing_stop == false) {
      const is_hidden = document.querySelectorAll('is_hidden');
      if ((!is_hidden.value) &&
          (event.submitter.value === '決定')) {
           event.preventDefault();
           is_hidden.focus();
      }
  }
  if (is_focusing_stop == false) {
      const is_exclude = document.querySelectorAll('is_exclude');
      if ((!is_exclude.value) &&
          (event.submitter.value === '決定')) {
           event.preventDefault();
           is_exclude.focus();
      }
  }
})
</script>
{% endblock %}