{% extends "after_staff_enter__base.html" %}
{% block inner_main %}
<section>
<form method="post" enctype="multipart/form-data">
{{ form.hidden_tag() }}
<table class="table">
<tr>
<td>
{{ form.spell_and_header.label }}{{ form.spell_and_header(class_="form-control", style_="resize: none;") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.mean_and_body.label }}{{ form.mean_and_body(class_="form-control", style_="resize: none;") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.category_tag.label }}{{ form.category_tag(class_="form-control", style_="resize: none;") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.attached_image_file.label }}
<br>
{% if archived_image_file_path == '' %}
<p class="attention-message">現時点でイメージファイルは登録されていません.</p>
{% else %}
<a href="{{archived_image_file_path}}" target="_blank">イメージファイルを新しいタブで開く</a>
{% endif %}
{{ form.attached_image_file(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.attached_sound_file.label }}
<br>
{% if archived_sound_file_path == '' %}
<p class="attention-message">現時点でサウンドファイルは登録されていません.</p>
{% else %}
<a href="{{archived_sound_file_path}}" target="_blank">サウンドファイルを新しいタブで開く</a>
{% endif %}
{{ form.attached_sound_file(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.attached_video_file.label }}
<br>
{% if archived_video_file_path == '' %}
<p class="attention-message">現時点でビデオファイルは登録されていません.</p>
{% else %}
<a href="{{archived_video_file_path}}" target="_blank">ビデオファイルを新しいタブで開く</a>
{% endif %}
{{ form.attached_video_file(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.staff_name.label }}{{ form.staff_name(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.staff_kana_name.label }}{{ form.staff_kana_name(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.is_hidden.label }}{{ form.is_hidden(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.is_exclude.label }}{{ form.is_exclude(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>
{{ form.modify_decide(class_="btn btn-primary btn-block") }}
</td>
<td></td>
<td></td>
<td>
{{ form.modify_cancel(class_="btn btn-primary btn-block") }}
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</table>
</form>
</section>
<section>
<br>
<br>
<a class="btn btn-primary" href="{{url_for('view.show_facts')}}">事実一覧</a>
<a class="btn btn-primary" href="{{url_for('view.search_facts')}}">事実検索</a>
<a class="btn btn-primary" href="{{url_for('view.import_facts')}}">事実取込</a>
<a class="btn btn-primary" href="{{url_for('view.export_facts')}}">事実書出</a>
<br>
<br>
</section>
{% endblock %}
{% block script %}
<script>
window.addEventListener('submit', function (event) {
  var is_focusing_stop = false;
  if (is_focusing_stop == false) {
      const spell_and_header = document.querySelectorAll('spell_and_header');
      if ((!spell_and_header.value) &&
          (event.submitter.value === '決定')) {
           event.preventDefault();
           spell_and_header.focus();
      }
  }
  if (is_focusing_stop == false) {
      const mean_and_body = document.querySelectorAll('mean_and_body');
      if ((!mean_and_body.value) &&
          (event.submitter.value === '決定')) {
           event.preventDefault();
           mean_and_body.focus();
      }
  }
  if (is_focusing_stop == false) {
      const linked_tag = document.querySelectorAll('linked_tag');
      if ((!linked_tag.value) &&
          (event.submitter.value === '決定')) {
           event.preventDefault();
           linked_tag.focus();
      }
  }
  if (is_focusing_stop == false) {
      const is_hidden = document.querySelectorAll('is_hidden');
      if ((!is_hidden.value) &&
          (event.submitter.value === '決定')) {
           event.preventDefault();
           is_hidden.focus();
      }
  }
  if (is_focusing_stop == false) {
      const is_exclude = document.querySelectorAll('is_exclude');
      if ((!is_exclude.value) &&
          (event.submitter.value === '決定')) {
           event.preventDefault();
           is_exclude.focus();
      }
  }
})
</script>
{% endblock %}