{% extends "after_admin_enter__base.html" %}
{% block inner_main %}
<section>
<form method="post">
{{ form.hidden_tag() }}
<table class="table">
<tr>
<td>
{{ form.new_password.label }}{{ form.new_password(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.confirm_password.label }}{{ form.confirm_password(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>
{{ form.setting_decide(class_="btn btn-primary btn-block") }}
</td>
<td></td>
<td></td>
<td>
{{ form.setting_cancel(class_="btn btn-primary btn-block") }}
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</table>
</form>
</section>
{% endblock %}
{% block script %}
<script>
window.addEventListener('submit', function (event) {
  var is_stop = false;
  if (is_stop == false) {
      const new_password = document.getElementById('new_password');
      if ((!new_password.value) &&
          (event.submitter.value === '決定')) {
           event.preventDefault();
           new_password.focus();
           is_stop = true;
      }
  }
  if (is_stop == false) {
      const confirm_password = document.getElementById('confirm_password');
      if ((!confirm_password.value) &&
          (event.submitter.value === '決定')) {
           event.preventDefault();
           confirm_password.focus();
           is_stop = true;
      }
  }
})
</script>
{% endblock %}