{% extends "before_enter__base.html" %}
{% block inner_main %}
<section>
<article>
<div class="usage-message">
<h1>アプリケーションの使用法</h1>
</div>
</article>
</section>
<br>
<br>
<section>
<article>
<div class="usage-content-message">
<p>
<br>
<br>
手順1 : はじめに管理者として入室します.
<br>
手順2 : 入力作業をする職員を登録します.
<br>
手順3 : 職員入室して各情報を入力します.
<br>
手順4 : 送信画面などで各指示を出します.
<br>
手順5 : 指示の返答や結果を受け取ります.
<br>
<br>
※ 以降, 上記手順の[3~5]を繰り返します.
<br>
<br>
</p>
</div>
</article>
</section>
{% endblock %}