@charset "utf-8";



.greeting-message {
    background-color: skyblue;
    font-size: 16px;
    color: white;
    text-align: center;
}

.guide-message {
    background-color: skyblue;
    font-size: 16px;
    color: white;
    text-align: center;
}

.guide-content-message {
    color: white;
    font-size: 16px;
    text-align: center;
}

.usage-message {
    background-color: skyblue;
    font-size: 16px;
    color: white;
    text-align: center;

}

.usage-content-message {
    color: white;
    font-size: 20px;
    text-align: center;
}

.general-message {
    background-color: lightgreen;
    color: white;
    font-size: 16px;
    text-align: center;
}

.attention-message {
    color: salmon;
    font-size: 16px;
    text-align: left;
}

.pagination-information {
    background-color: skyblue;
    font-size: 16px;
    color: white;
    text-align: center;
}

.pagination-error-message {
    background-color: darkorchid;
    font-size: 16px;
    color: white;
    text-align: center;
}

.retrive-error-message {
    background-color: darkorchid;
    font-size: 16px;
    color: white;
    text-align: center;
}

.error-message {
    background-color: darkorchid;
    font-size: 16px;
    color: white;
    text-align: center;
}

.unavailable-message {
    background-color: crimson;
    font-size: 16px;
    color: white;
    text-align: center;
}

.background {
    background-color: slategray;
}

.background-sp {
    background-color: slategray;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.login-form {
    width: 340px;
    margin: 50px auto;
}

.login-form form {
    background-color: aliceblue;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 24px;
    border-radius: 16px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control,
.btn {
    min-height: 38px;
    border-radius: 4px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

.login-form p {
    background-color: aliceblue;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 24px;
    border-radius: 16px;
}

.message-item {
    background-color: aliceblue;
    font-size: 16px;
    color: black;
    text-align: center;
}

.message-image {
    width: 400px;
}

.items-header {
    background-color: silver;
}

.database-item {
    background-color: aliceblue;
    font-size: 16px;
    color: black;
    text-align: left;
}

.clock {
    background-color: aliceblue;
    color: black;
}

.current-date {
    font-size: 14px;
    text-align: center;
}

.current-time {
    font-size: 28px;
    text-align: center;
}

.hidden {
    display: none;
}

br {
    visibility: hidden;
}

.radio-inline ul {
    list-style: none;
}

input[type="file"]::file-selector-button {
    display: none;
}

@media screen and (max-width: 1500px) {
    .display-depend-on-viewport {
        display: none;
    }
}

* {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation: fadeIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.gradient-back {
    background-color: black;
}

.gradient-blink-text {
    font-size: 2em;
    font-weight: bold;
    background: linear-gradient(90deg, #00f, #0ff, #0f0, #ff0, #f00);
    background-size: 400% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 5s linear infinite, blink 1s step-start infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

@keyframes blink {

    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 1;
    }
}

.text-loop {
    font-size: 24px;
    font-weight: bold;
    color: aquamarine;
    position: relative;
    width: 100%;
    height: 40px;
    background: black;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-loop::after {
    content: ">> SUNIEにメッセージを送ってください";
    animation: loopText 4s steps(4) infinite;
}

@keyframes loopText {
    0% {
        content: ">> SUNIEにメッセージを送ってください";
    }

    25% {
        content: ">> SUNIEにメッセージを送ってください .";
    }

    50% {
        content: ">> SUNIEにメッセージを送ってください . .";
    }

    75% {
        content: ">> SUNIEにメッセージを送ってください . . .";
    }

    100% {
        content: ">> SUNIEにメッセージを送ってください";
    }
}