{% extends "before_enter__base.html" %}
{% block inner_main %}
<section>
<div class="login-form">
<form method="post">
{{ form.csrf_token }}
{{ form.hidden_tag() }}
<p class="text-center">入室しますか?</p>
{{ form.password.label }}{{ form.password(class_="form-control") }}
<table align="center">
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr>
<td>
{{ form.decide(class_="btn btn-primary btn-block") }}
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>
{{ form.cancel(class_="btn btn-primary btn-block") }}
</td>
</tr>
</table>
</form>
</div>
</section>
{% endblock %}