{% extends "after_admin_enter__base.html" %}
{% block inner_main %}
<section>
{{ form.hidden_tag() }}
<table class="table">
<tr>
<td>
{{ form.id.label }}{{ form.id(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.spell_and_header.label }}{{ form.spell_and_header(class_="form-control", style_="resize: none;") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.mean_and_content.label }}{{ form.mean_and_content(class_="form-control", style_="resize: none;") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.category_tags.label }}{{ form.category_tags(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.has_image.label }}{{ form.has_image(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.has_sound.label }}{{ form.has_sound(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.has_video.label }}{{ form.has_video(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.staff_name.label }}{{ form.staff_name(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.staff_kana_name.label }}{{ form.staff_kana_name(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.created_at.label }}{{ form.created_at(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.updated_at.label }}{{ form.updated_at(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.is_hidden.label }}{{ form.is_hidden(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.is_exclude.label }}{{ form.is_exclude(class_="form-control") }}
</td>
</tr>
</table>
<section>
<br>
<br>
<a class="btn btn-primary" href="{{url_for('view.show_histories')}}">履歴一覧</a>
<a class="btn btn-primary" href="{{url_for('view.search_histories')}}">履歴検索</a>
<a class="btn btn-primary" href="{{url_for('view.import_histories')}}">履歴取込</a>
<br>
<br>
</section>
{% endblock %}