{% extends "before_enter__base.html" %}
{% block inner_main %}
<section>
<article>
<div class="guide-message">
<h1>アプリケーションの案内</h1>
</div>
</article>
</section>
<br>
<br>
<section>
<article>
<div class="guide-content-message">
<p>
<br>
<br>
概要 : 当該アプリは, 革新的なAI技術を駆使して, 科学 & 教育 & 産業など多岐にわたる分野での利用を目的として作られました.
<br>
<br>
機能 : 画像認識 & 音声認識 & 動画解析 & コンピュータビジョン & 動画生成 & 物理シミュレーション & 数式自動展開証明 etc.
<br>
<br>
用途 : 科学の研究活動支援 & 教育活動支援 & 企業活動支援 & ビデオゲームなどのエンターテインメント分野での開発支援 etc.
<br>
<br>
※ この製品は, moriaki1983によって開発された構想支援型AIアプリケーションです.
<br>
<br>
※ 当製品の利用に当たっては, 契約事項を遵守していただくよう, お願いいたします.
</p>
</div>
</article>
</section>
{% endblock %}