{% extends "after_admin_enter__base.html" %}
{% block inner_main %}
<section>
<form method="post">
{{ form.hidden_tag() }}
<table class="table">
<tr>
<td>
{{ form.name.label }}{{ form.name(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.kana_name.label }}{{ form.kana_name(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.sex.label }}{{ form.sex(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.blood_type.label }}{{ form.blood_type(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.birth_date.label }}{{ form.birth_date(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.is_hidden.label }}{{ form.is_hidden(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.is_exclude.label }}{{ form.is_exclude(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>
{{ form.modify_decide(class_="btn btn-primary btn-block") }}
</td>
<td></td>
<td></td>
<td>
{{ form.modify_cancel(class_="btn btn-primary btn-block") }}
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</table>
</form>
</section>
<section>
<br>
<br>
<a class="btn btn-primary" href="{{url_for('view.show_staffs')}}">職員一覧</a>
<a class="btn btn-primary" href="{{url_for('view.search_staffs')}}">職員検索</a>
<a class="btn btn-primary" href="{{url_for('view.register_staff')}}">職員登録</a>
<br>
<br>
</section>
{% endblock %}
{% block script %}
<script src="{{url_for('static', filename='statics/javascripts/datepicker-default.js')}}"></script>
<script>
window.addEventListener('submit', function (event) {
  var is_focusing_stop = false;
  if (is_focusing_stop == false) {
      const name = document.getElementById('name');
      if ((!name.value) &&
          (event.submitter.value === '決定')) {
           event.preventDefault();
           name.focus();
           is_focusing_stop = true;
      }
  }
  if (is_focusing_stop == false) {
      const kana_name = document.getElementById('kana_name');
      if ((!kana_name.value) &&
          (event.submitter.value === '決定')) {
           event.preventDefault();
           kana_name.focus();
           is_focusing_stop = true;
      }
  }
  if (is_focusing_stop == false) {
      const sex = document.getElementById('sex');
      if ((!sex.value) &&
           (event.submitter.value === '決定')) {
            event.preventDefault();
            sex.focus();
            is_focusing_stop = true;
         }
  }
  if (is_focusing_stop == false) {
      const blood_type = document.getElementById('blood_type');
      if ((!blood_type.value) &&
           (event.submitter.value === '決定')) {
            event.preventDefault();
            blood_type.focus();
            is_focusing_stop = true;
         }
  }
  if (is_focusing_stop == false) {
      const birth_date = document.getElementById('birth_date');
      if ((!birth_date.value) &&
          (event.submitter.value === '決定')) {
           event.preventDefault();
           birth_date.focus();
           is_focusing_stop = true;
      }
  }
  if (is_focusing_stop == false) {
      const is_hidden = document.getElementById('is_hidden');
      if ((!is_hidden.value) &&
          (event.submitter.value === '決定')) {
           event.preventDefault();
           is_hidden.focus();
           is_focusing_stop = true;
      }
  }
  if (is_focusing_stop == false) {
      const is_exclude = document.getElementById('is_exclude');
      if ((!is_exclude.value) &&
          (event.submitter.value === '決定')) {
           event.preventDefault();
           is_exclude.focus();
           is_focusing_stop = true;
      }
  }
})
</script>
{% endblock %}