{% extends "after_admin_enter__base.html" %}
{% block inner_main %}
<section>
<form method="post">
{{ form.hidden_tag() }}
<table class="table">
<tr>
<td>
{{ form.spell_and_header.label }}{{ form.spell_and_header(class_="form-control", style_="resize: none;") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.mean_and_content.label }}{{ form.mean_and_content(class_="form-control", style_="resize: none;") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.staff_psychology.label }}{{ form.staff_psychology(class_="form-control", style_="resize: none;") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.scene_and_background.label }}{{ form.scene_and_background(class_="form-control", style_="resize: none;") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.message_example_from_staff.label }}{{ form.message_example_from_staff(class_="form-control", style_="resize: none;") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.message_example_from_application.label }}{{ form.message_example_from_application(class_="form-control", style_="resize: none;") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.staff_name.label }}{{ form.staff_name(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.staff_kana_name.label }}{{ form.staff_kana_name(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.is_hidden.label }}{{ form.is_hidden(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.is_exclude.label }}{{ form.is_exclude(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>
{{ form.decide(class_="btn btn-primary btn-block") }}
</td>
<td></td>
<td></td>
<td>
{{ form.cancel(class_="btn btn-primary btn-block") }}
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</table>
</form>
</section>
<section>
<br>
<br>
<a class="btn btn-primary" href="{{url_for('view.show_reactions')}}">反応一覧</a>
<a class="btn btn-primary" href="{{url_for('view.search_reactions')}}">反応検索</a>
<a class="btn btn-primary" href="{{url_for('view.import_reactions')}}">反応取込</a>
<a class="btn btn-primary" href="{{url_for('view.export_reactions')}}">反応書出</a>
<br>
<br>
</section>
{% endblock %}