{% extends "after_staff_enter__base.html" %}
{% block inner_main %}
<section>
<table class="table">
{% if staff_text_message %}
<tr>
<td>
<label for="staff-text-message">職員からのメッセージ : </label>
<textarea id="staff-text-message" name="staff-text-message" class="form-control" style="resize: none;" rows="8" readonly>{{staff_text_message}}</textarea>
</td>
</tr>
{% else %}
<tr>
<td>
<label for="staff-text-message">職員からのメッセージ : </label>
<textarea id="staff-text-message" name="staff-text-message" class="form-control" style="color: salmon; resize: none;" rows="8" readonly>送信していません.</textarea>
</td>
</tr>
{% endif %}
{% if application_text_message %}
<tr>
<td>
<label for="application-text-message">アプリからのメッセージ : </label>
<textarea id="application-text-message" name="application-text-message" class="form-control" style="resize: none;" rows="8" readonly>{{application_text_message}}</textarea>
</td>
</tr>
{% else %}
<tr>
<td>
<label for="application-text-message">アプリからのメッセージ : </label>
<textarea id="application-text-message" name="application-text-message" class="form-control" style="color: salmon; resize: none;" rows="8" readonly>返信はありません.</textarea>
</td>
</tr>
{% endif %}
</table>
</section>
{% endblock %}