{% extends "after_admin_enter__base.html" %}
{% block inner_main %}
<section>
<form method="post">
{{ form.hidden_tag() }}
<table class="table">
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>{{ form.words.label }}{{ form.words(class_="form-control") }}</td>
<td>{{ form.themes.label }}{{ form.themes(class_="form-control") }}</td>
<td>{{ form.categories.label }}{{ form.categories(class_="form-control") }}</td>
<td>{{ form.facts.label }}{{ form.facts(class_="form-control") }}</td>
<td>{{ form.rules.label }}{{ form.rules(class_="form-control") }}</td>
<td>{{ form.reactions.label }}{{ form.reactions(class_="form-control") }}</td>
<td>{{ form.generates.label }}{{ form.generates(class_="form-control") }}</td>
<td>{{ form.histories.label }}{{ form.histories(class_="form-control") }}</td>
<td>{{ form.enters_or_exits.label }}{{ form.enters_or_exits(class_="form-control") }}</td>
<td>{{ form.staffs.label }}{{ form.staffs(class_="form-control") }}</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</table>
<table class="table">
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>
{{ form.decide(class_="btn btn-primary btn-block") }}
</td>
<td></td>
<td></td>
<td>
{{ form.cancel(class_="btn btn-primary btn-block") }}
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</table>
</form>
</section>
{% endblock %}