{% extends "after_admin_enter__base.html" %}
{% block inner_main %}
<section>
<form method="post">
{{ form.hidden_tag() }}
<table class="table">
<tr>
<td>
{{ form.id.label }}{{ form.id(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.spell_and_header.label }}{{ form.spell_and_header(class_="form-control", style_="resize: none;") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.mean_and_body.label }}{{ form.mean_and_body(class_="form-control", style_="resize: none;") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.category_tags.label }}{{ form.category_tags(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.inference_condition.label }}{{ form.inference_condition(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.inference_result.label }}{{ form.inference_result(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.staff_name.label }}{{ form.staff_name(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.staff_kana_name.label }}{{ form.staff_kana_name(class_="form-control") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.created_at_begin.label }}{{ form.created_at_begin(class_="form-control", type="datetime-local") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.created_at_end.label }}{{ form.created_at_end(class_="form-control", type="datetime-local") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.updated_at_begin.label }}{{ form.updated_at_begin(class_="form-control", type="datetime-local") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
{{ form.updated_at_end.label }}{{ form.updated_at_end(class_="form-control", type="datetime-local") }}
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
<div class="radio-inline">
{{ form.sort_condition.label }}{{ form.sort_condition(class_="form-control") }}
</div>
</td>
</tr>
</table>
<table class="table">
<tr>
<td>
<div class="radio-inline">
{{ form.extract_condition.label }}{{ form.extract_condition(class_="form-control") }}
</div>
</td>
</tr>
</table>
<table class="table">
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>
{{ form.search_decide(class_="btn btn-primary btn-block") }}
</td>
<td></td>
<td></td>
<td>
{{ form.search_cancel(class_="btn btn-primary btn-block") }}
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</table>
</form>
</section>
<section>
<br>
<br>
<a class="btn btn-primary" href="{{url_for('view.show_rules')}}">規則一覧</a>
<a class="btn btn-primary" href="{{url_for('view.search_rules')}}">規則検索</a>
<a class="btn btn-primary" href="{{url_for('view.import_rules')}}">規則取込</a>
<a class="btn btn-primary" href="{{url_for('view.export_rules')}}">規則書出</a>
<br>
<br>
</section>
{% endblock %}