{% extends "after_staff_enter__base.html" %}
{% block inner_main %}
<section>
<form method="post">
<table class="table">
<thead class="items-header">
<tr>
<th scope="col1">ID</th>
<th scope="col1">綴り&見出し</th>
<th scope="col1">意味&内容</th>
<th scope="col1">職員名</th>
<th scope="col1">項目操作1</th>
<th scope="col1">項目操作2</th>
</tr>
</thead>
<tbody>
{% for item in page_data %}
<tr class="database-item">
<td>{{item[0]}}</td>
<td>{{item[1]}}</td>
<td>{{item[2]}}</td>
<td>{{item[3]}}</td>
<td>
<input id="retrieve-item-id" name="retrieve-item-id"
type="submit" class="btn btn-primary btn-block" value="取得"
onclick="document.getElementById('hidden-retrieve-item-id').value='{{item[0]}}';"/>
</td>
<td>
<input id="detail-item-id" name="detail-item-id"
type="submit" class="btn btn-primary btn-block" value="詳細"
onclick="document.getElementById('hidden-detail-item-id').value='{{item[0]}}';"/>
</td>
</tr>
{% endfor %}
<input id="hidden-retrieve-item-id" name="hidden-retrieve-item-id" type="hidden" value=""></input>
<input id="hidden-detail-item-id" name="hidden-detail-item-id" type="hidden" value=""></input>
</form>
</tbody>
</table>
{% if pagination %}
<section>
<article>
<div class="pagination-information">
{{pagination.info}}
</div>
{{pagination.links}}
</article>
</section>
{% endif %}
<section>
<br>
<br>
</section>
<section>
<br>
<br>
<a class="btn btn-primary" href="{{url_for('view.show_generates')}}">生成一覧</a>
<a class="btn btn-primary" href="{{url_for('view.search_generates')}}">生成検索</a>
<a class="btn btn-primary" href="{{url_for('view.learn_generate')}}">生成学習</a>
<a class="btn btn-primary" href="{{url_for('view.import_generates')}}">生成取込</a>
<a class="btn btn-primary" href="{{url_for('view.export_generates')}}">生成書出</a>
<br>
<br>
</section>
{% endblock %}