{% extends "after_staff_enter__base.html" %}
{% block inner_main %}
<section>
<div class="login-form">
<form method="post">
{{ form.hidden_tag() }}
<p class="text-center">退室しますか?</p>
{{ form.reason.label }}{{ form.reason(class_="form-control") }}
<table align="center">
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr>
<td>
{{ form.enter_decide(class_="btn btn-primary btn-block") }}
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>
{{ form.enter_cancel(class_="btn btn-primary btn-block") }}
</td>
</tr>
</table>
</form>
</div>
</section>
{% endblock %}